Package: adbtools
Priority: optional
Section: android-tools
Installed-Size: 780
Maintainer: İbrahim Yöndemli
Architecture: all
Version: 2.0
Depends: adb, fastboot, openvpn
Description: android tools android minimal ADB And fastboot drivers
